@{
    ViewBag.Title = "Highchartsのサンプル";
}

<div class="row">
    <div class="col-md-12">
        <h2>Line Chart</h2>
        @Html.Raw(ViewData["lineChart"])
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bar Chart</h2>
        @Html.Raw(ViewData["barChart"])
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Pie Chart</h2>
        @Html.Raw(ViewData["pieChart"])
    </div>
</div>